/* PersonalInfo.css */

/* 전체 페이지를 가운데로 배치하는 스타일 */
.PageWrapper {
  display: flex;
  justify-content: center;  /* 수평 중앙 정렬 */
  align-items: center;      /* 수직 중앙 정렬 */
  height: 100vh;            /* 화면 높이를 100%로 설정 */
  margin: 0;                /* 기본 여백 제거 */
}

/* Flexbox를 사용하여 이미지와 텍스트 나란히 배치 */
.Wrapper {
  display: flex;
  align-items: center;      /* 세로 중앙 정렬 */
  padding: 20px;
  gap: 20px;
  border : solid gray 2px;
}

/* 이미지와 텍스트 사이에 여백 추가 */
.PersonalContainer {
  margin-left: 20px;
  color: black;
  font-size: 16px;
}

.ProfileWrapper {
  display: flex;
  flex-direction: column;  /* 수직 정렬 */
  align-items: center;     /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  gap: 10px;               /* 요소들 사이의 간격 */
}

/* 프로필 이미지를 원형으로 만들기 */
.ProfileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;          /* 클릭 가능한 영역으로 처리 */
}

/* 팝업의 배경색, 여백, 그림자 등 */
.PopupWrapper {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Modal 고정 위치 및 중앙 정렬 */
.CustomModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
